@layer components {

    .btn {
        background-color: var(--color-primary);
        border: 1px solid transparent;
        border-radius: 0;
        display: inline-block;
        font-size: 1.25rem;
        font-weight: var(--font-weight-normal);
        padding: .75rem 1.5rem;
        line-height: 1.4;
        color: var(--color-white);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        max-width: 100%;
        cursor: pointer;
        user-select: none;
        box-shadow: none;
        transition: var(--transition-base);
    
        &:hover {
            background-color: var(--color-primary-light);
            color: var(--color-white);
            text-decoration: none;
        }
    
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    
        &:active {
            box-shadow: none;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.65;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        /* Link button */
        &.btn-white {
            color: var(--color-gray-text);
            background-color: var(--color-white);
            border-color: var(--color-white);

            &:hover,
            &:active {
                color: var(--color-gray-text);
                background-color: var(--color-gray-bg);
                border-color: var(--color-gray-bg);
            }
            
            &:disabled {
                color: var(--color-gray-text-light);
                background-color: var(--color-white);
            }
        }

        /* Outlined button */
        &.btn-outline {
            color: var(--color-gray-text);
            border: 1px solid var(--color-gray-text);
            background-color: transparent;

            &:hover,
            &:active {
                opacity: 0.75;
            }

            &:focus {
                box-shadow: none;
            }

            &:disabled {
                color: var(--color-gray-text-light);
                border-color: var(--color-gray-text-light);
                background-color: transparent;
            }
        }
    }
}
