@layer base {

    /* Textual inputs, file and textarea */

    [type='text'], 
    [type='password'], 
    [type='date'], 
    [type='datetime'], 
    [type='datetime-local'], 
    [type='month'], 
    [type='week'], 
    [type='email'], 
    [type='number'], 
    [type='search'], 
    [type='tel'], 
    [type='time'], 
    [type='url'], 
    [type='color'], 
    [type='file'], 
    textarea {
        display: block;
        width: 100%;
        padding: 0.65rem 0.95rem !important;
        font-size: .95rem !important; 
        font-weight: var(--font-weight-normal);
        line-height: 1.5;
        color: var(--color-gray-text);
        background-color: var(--color-white);
        background-clip: padding-box;
        border: 1px solid var(--color-gray-border) !important;
        appearance: none;
        border-radius: var(--radius-xs);
        transition: var(--transition-base);

        &:focus {
            color: var(--color-gray-text);
            background-color: var(--color-white);
            border-color: var(--color-gray-text-light) !important;
            outline: 0;
        }

        &::-webkit-date-and-time-value {
            height: 1.5em;
        }

        &::placeholder {
            color: var(--color-gray-text-light);
            opacity: 1;
        }

        &:disabled,
        &[readonly] {
            background-color: var(--color-gray-bg);
            border-color: var(--color-gray-border);
            opacity: 1;
        }
    }

    textarea {
        min-height: 2.5rem;
    }

    [type="file"] {
        overflow: hidden;
    
        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
    
        &::file-selector-button {
            padding: 0.65rem 0.95rem;
            margin: -0.65rem -0.95rem;
            margin-inline-end: 0.95rem;
            color: var(--color-gray-text);
            background-color: var(--color-gray-bg);
            pointer-events: none;
            border-color: transparent;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: 1px;
            border-radius: 0;
            transition: var(--transition-base);
        }

        &:hover:not(:disabled):not([readonly])::file-selector-button {
            background-color: var(--color-gray-border);
        }

        &::-webkit-file-upload-button {
            padding: 0.65rem 0.95rem;
            margin: -0.65rem -0.95rem;
            margin-inline-end: 0.95rem;
            color: var(--color-gray-text);
            background-color: var(--color-gray-bg);
            pointer-events: none;
            border-color: transparent;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: 1px;
            border-radius: 0;
            transition: var(--transition-base);
        }

        &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
            background-color: var(--color-gray-border);
        }
    }

    [type='color'] {
        width: 3rem;
        height: auto; 
        padding: 0.3125rem !important;
    
        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
        
        &::-moz-color-swatch {
            height: 1.5em;
            border-radius: var(--radius-xs);
        }
        
        &::-webkit-color-swatch {
            height: 1.5em;
            border-radius: var(--radius-xs);
        }
    }

    [type='date'], 
    [type='datetime'], 
    [type='datetime-local'], 
    [type='month'], 
    [type='week'],
    [type='time'] {
        &::-webkit-date-and-time-value {
            height: 1.5em;
        }
    }

    /* Select */

    select {
        display: block;
        width: 100%;
        padding: 0.75rem 2.25rem 0.75rem 1.125rem;
        -moz-padding-start: 0.6875rem;
        font-size: 0.9375rem;
        font-weight: var(--font-weight-normal);
        line-height: var(--leading-normal);
        color: var(--color-gray-text);
        background-color: var(--color-white);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23687799' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem 0.75rem;
        border: 1px solid var(--color-gray-border);
        border-radius: var(--radius-xs);
        appearance: none;
        transition: var(--transition-base);
      
        &:focus {
            border-color: var(--color-gray-border);
            outline: 0;
        }
      
        &[multiple],
        &[size]:not([size="1"]) {
            padding-right: 0.875rem;
            background-image: none;
        }
      
        &:disabled {
            color: var(--color-gray-text);
            background-color: var(--color-gray-bg);
            border-color: var(--color-gray-border);
        }
      
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 var(--color-gray-text);
        }
    }

    /* Checkboxes & Radio buttons */

    [type="checkbox"],
    [type="radio"] {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        vertical-align: top;
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid var(--color-gray-border) !important;
        appearance: none;
        print-color-adjust: exact; /* Keep themed appearance for print */
        transition: var(--transition-base);

        &:active {
            filter: brightness(90%);
        }

        &:focus {
            outline: 0;
            box-shadow: none;
        }

        &:checked {
            background-color: var(--color-primary);
            border-color: var(--color-primary) !important;
            border-color: var(--radius-xs);
        }

        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: .5;
        }
    }

    [type="checkbox"] {
        border-radius: var(--radius-xs);
    
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    
        &:indeterminate {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
        }
    }
    
    [type="radio"] {
        border-radius: 50%;
    
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }
    }

    /* Range */

    [type="range"] {
        width: 100%;
        height: 1.5rem;
        padding: 0;
        background-color: transparent;
        appearance: none;
      
        &::-webkit-slider-thumb {
            width: 1rem;
            height: 1rem;
            margin-top: -0.25rem; /* Webkit specific */
            background-color: var(--color-primary);
            border: 0;
            border-radius: 1rem;
            appearance: none;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        
            &:active {
                background-color: var(--color-primary);
            }
        }
      
        &::-moz-range-thumb {
            width: 1rem;
            height: 1rem;
            background-color: var(--color-primary);
            border: 0;
            border-radius: 1rem;
            appearance: none;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      
            &:active {
                background-color: var(--color-primary);
            }
        }
      
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.5rem;
            color: transparent;
            cursor: pointer;
            background-color: var(--color-gray-bg);
            border-color: transparent;
            border-radius: 1rem;
        }
      
        &::-moz-range-track {
            width: 100%;
            height: 0.5rem;
            color: transparent;
            cursor: pointer;
            background-color: var(--color-gray-bg);
            border-color: transparent;
            border-radius: 1rem;
        }
      
        &:focus {
            outline: 0;
        
            /* Pseudo-elements must be split across multiple rulesets to have an effect. */
            /* No box-shadow() mixin for focus accessibility. */
            &::-webkit-slider-thumb { 
                box-shadow: 0 0 0 1px var(--color-white), 0 0 0 0.25rem var(--color-gray-border);
            }
            
            &::-moz-range-thumb { 
                box-shadow: 0 0 0 1px var(--color-white), 0 0 0 0.25rem var(--color-gray-border);
            }
        }
      
        &:disabled {
            pointer-events: none;
        
            &::-webkit-slider-thumb {
                background-color: var(--color-gray-text);
            }
        
            &::-moz-range-thumb {
                background-color: var(--color-gray-bg);
            }
        }
      
        &::-moz-focus-outer {
            border: 0;
        }
    }
}

@layer components {
    
    .form-check {
        display: block;
        min-height: 1.5rem;
        padding-left: 1rem;
        margin-bottom: 0.25rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        [type="checkbox"],
        [type="radio"] {
            float: left;
            margin-left: -1rem;
            margin-top: 0.25rem !important; /* line-height minus check height */

            & ~ label {
                color: var(--color-gray-text);
                cursor: pointer;
                margin-bottom: 0;
                padding-left: 0.625rem;
                display: inline-block;
                font-size: 0.9375rem !important;
            }

            /* Use disabled attribute in addition of :disabled pseudo-class */
            /* See: https://github.com/twbs/bootstrap/issues/28247 */
            &[disabled],
            &:disabled {
                & ~ label {
                    opacity: .5;
                }
            }
        }
    }

    .form-switch {
        padding-left: 2em;
    
        [type="checkbox"],
        [type="radio"] {
            width: 2em;
            margin-left: -2em;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
            background-position: left center;
            border-radius: 2em;
            transition: background-position 0.15s ease-in-out;

            &:focus {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
            }

            &:checked {
                background-position: right center;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            }

            & + label {
                padding-left: 0.75rem;
            }
        }
    }
}
