@layer base {

    table {
        width: 100%;
        max-width: 100%;
        color: var(--color-gray-text);
        vertical-align: middle;
        border-color: var(--color-gray-border);
    
        > :not(caption) > * > * {
            padding: 0.75rem 1rem; 
            background-color: transparent;
            border-bottom-width: 1px;
            box-shadow: inset 0 0 0 9999px transparent;
            border: 1px solid var(--color-gray-border);
        }
    
        > thead {
            vertical-align: bottom;
            background-color: var(--color-gray-bg); 
        }
    
        > tbody {
            vertical-align: inherit;
        }

        > tfoot {
            background-color: var(--color-gray-bg);
        }
    }
}

@layer components {

    /* Table borderless */
    .table-borderless {
        border-left: 1px solid var(--color-gray-border);
        border-right: 1px solid var(--color-gray-border);

        > :not(caption) > * > * {
            border-right-width: 0 !important;
            border-left-width: 0 !important;
        }
    }

    /* Table stripped */
    .table-striped {

        > tbody > tr:nth-of-type(even) > * {
            background-color: var(--color-gray-bg);
        }
    }
    
    /* Table hover */
    .table-hover {

        > tbody > tr:hover > * {
            background-color: var(--color-gray-bg);
        }
    }
    
    /* Table responsive */
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
