@theme {

    /* Fonts */
    --font-afacad: 'Afacad', sans-serif;
    
    /* Colors */
    --color-*: initial;
    --color-primary: #0119ff;
    --color-gray-bg: #f5f5f5;
    --color-gray-border: #e7e7e8;
    --color-gray-dark: #1f202e;
    --color-black: #0d0e1d;
    --color-white: #ffffff;

    /* Breackpoints */
    --breakpoint-*: initial;
    --breakpoint-xs: 20rem;     /* 20rem = 320px */
    --breakpoint-sm: 40rem;     /* 40rem = 640px */
    --breakpoint-md: 48rem;     /* 48rem = 768px */
    --breakpoint-lg: 64rem;     /* 64rem = 1024px */
    --breakpoint-xl: 80rem;     /* 80rem = 1280px */
    --breakpoint-2xl: 96rem;    /* 96rem = 1536px */

}