<%- include('../partials/header', {title: 'About'}) %>

    <div class="about-page">
        <div class="wrap max-w-4xl mx-auto">
            
        </div>
    </div>

<%- include('../partials/footer') %>