<%- include('../partials/header', {title: 'About'}) %>

    <div class="about-page my-10">
        <div class="wrap">
            <h1 class="text-3xl">About Us</h1>
            <p class="text-lg">We are a team of passionate developers.</p>
            <p class="text-lg">We love creating beautiful and functional web applications.</p>
        </div>
    </div>

<%- include('../partials/footer') %>