<%- include('../partials/header', {title: 'Base'}) %>

    <div class="base-page my-10">
        <div class="wrap">
            <h1>Welcome to the Home Page</h1>
            <p>Aliquam posuere molestie <b>velit quis molestie</b>. Praesent commodo ultricies sapien quis consequat. <strong>Suspendisse imperdiet</strong>, velit vitae imperdiet venenatis, tortor leo venenatis dui, id <small>gravida arcu tellus</small> scelerisque massa. <em>Sed condimentum lorem id gravida</em> accumsan. Nullam consequat ut <mark>justo eu ornare</mark>. Proin condimentum accumsan <sub>quam</sub>, vitae convallis sapien posuere <sup>vitae</sup>. Morbi vestibulum, risus sit amet tincidunt posuere, <a href="#">orci hendrerit quam</a>, eu ullamcorper risus dolor vel nisi. Vestibulum pulvinar justo nec bibendum efficitur. Vestibulum pellentesque, <a>nisl scelerisque luctus sagittis</a>, mauris tellus fringilla erat, eget pretium turpis sem consequat dolor. Quisque suscipit tortor at mauris congue, sit amet condimentum risus congue. Maecenas blandit dapibus tellus a viverra.</p>
            <h2><a href="#">All the Lorem Ipsum generators on the Internet</a></h2>
            <p>Donec pharetra neque sit amet lacus porttitor, sed pellentesque est condimentum. Etiam erat nisi, vehicula ullamcorper ornare et, fringilla at lectus. Quisque ac turpis volutpat, molestie ante in, lacinia magna. In <abbr title="hendrerit velit ac est ultricies">hendrerit velit ac est ultricies</abbr>, sed tempus diam bibendum. Vestibulum in lacus felis. <del>Sed fringilla imperdiet elit</del>, tristique bibendum lectus suscipit a. <s>Integer eget dui diam</s>. Donec condimentum ipsum vel ex rhoncus luctus.</p>
            <p>Nulla facilisi. Donec nec <ins>ligula id enim efficitur fringilla</ins>. Sed ac nunc ut erat tincidunt varius. <u>Donec euismod, nisi vel consectetur interdum</u>, nisl nisi aliquet nunc, eget bibendum nunc nisi euismod nunc. <small>Sed at ligula a enim convallis facilisis</small>. Nulla facilisi. Sed in justo non enim efficitur fringilla. Donec nec ligula id enim efficitur fringilla.</p>
            <address>
                <strong>ACME Corporation</strong><br>
                1123 Fictional St,<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:first.last@example.com">first.last@example.com</a>
            </address>
            <hr>
            <h3>Etiam fringilla nisi ut tortor ultricies gravida</h3>
            <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt; &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
            <p><var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>
            <p>To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>To edit settings, press <kbd><kbd>Ctrl</kbd> + <kbd>,</kbd></kbd></p>
            <p><samp>This text is meant to be treated as sample output from a computer program.</samp></p>
            <p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
            <h3>Various versions have evolved <small>over the years</small></h3>
            <p>Nulla facilisi. Donec nec ligula id enim efficitur fringilla. Sed ac nunc ut erat tincidunt varius. Donec euismod, nisi vel consectetur interdum, nisl nisi aliquet nunc, eget bibendum nunc nisi euismod nunc. Sed at ligula a enim convallis facilisis. Nulla facilisi. Sed in justo non enim efficitur fringilla. Donec nec ligula id enim efficitur fringilla.</p>
            <ul>
                <li>This is a list.</li>
                <li>It appears completely unstyled.</li>
                <li>Structurally, it's still a list.</li>
                <li>Nested lists:
                    <ul>
                        <li>are unaffected by this style</li>
                        <li>will still show a bullet</li>
                        <li>and have appropriate left margin</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            <ul>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li> <li>Laboris nisi ut aliquip ex ea commodo consequat.</li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate veliesse.</li> <li>Cillum dolore eu fugiat nulla pariatur.</li>
                                <li>Excepteur sint occaecat cupidatat non proident</li>
                                <li>Kunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                            </ul>
                        </li>
                        <li>Pare unaffected by this style</li>
                        <li>Will still show a bullet</li>
                    </ul>
                </li>
                <li>This may still come in handy in some situations.</li>
                <li>However, this style only applies to immediate child elements.</li>
            </ul>
            <h4>Duis aute irure dolor in reprehenderit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ol>
                <li>are unaffected by this style</li>
                <li>will still show a bullet</li>
                <li>and have appropriate left margin</li>
                <li>Nested lists:
                    <ol>
                        <li>are unaffected by this style</li>
                        <li>will still show a bullet</li>
                        <li>and have appropriate left margin</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:
                            <ol>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li> <li>Laboris nisi ut aliquip ex ea commodo consequat.</li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate veliesse.</li> <li>Cillum dolore eu fugiat nulla pariatur.</li>
                                <li>Excepteur sint occaecat cupidatat non proident</li>
                                <li>Lunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                            </ol>
                        </li>
                        <li>Mare unaffected by this style</li>
                        <li>will still show a bullet</li>
                    </ol>
                </li>
                <li>This may still come in handy in some situations.</li>
                <li>This is a list.</li>
                <li>It appears completely unstyled.</li>
            </ol>
            <h5>In the end, it is a list</h5>
            <p>Nulla facilisi. Donec nec ligula id enim efficitur fringilla. Sed ac nunc ut erat tincidunt varius. Donec euismod, nisi vel consectetur interdum, nisl nisi aliquet nunc, eget bibendum nunc nisi euismod nunc. Sed at ligula a enim convallis facilisis. Nulla facilisi. Sed in justo non enim efficitur fringilla. Donec nec ligula id enim efficitur fringilla.</p>
            <dl>
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Term</dt>
                <dd>And some more placeholder definition text.</dd>
                <dt>Another term</dt>
                <dd>This definition is short, so no extra paragraphs or anything.</dd>
                <dt>Truncated term is truncated</dt>
                <dd>This can be useful when space is tight. Adds an ellipsis at the end.</dd>
                <dt>Nested definition list</dt>
                <dd>I heard you like definition lists. Let me put a definition list inside your definition list.</dd>
            </dl>
            <blockquote>
                <p>Donec eu orci id risus feugiat imperdiet eu at lacus. Aenean at felis congue, cursus lectus ut, pellentesque mauris. Maecenas mollis arcu ut arcu efficitur posuere. Integer turpis lorem, iaculis ac quam ut, convallis ultrices urna. Proin nec lectus eget lectus rhoncus semper. Suspendisse gravida massa turpis, vel rhoncus quam dignissim vitae.</p>
                <cite>- Someone famous in Source Title</cite>
            </blockquote>
            <h6>Maecenas scelerisque, sapien sed interdum semper</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Curabitur dignissim nisi lectus, at fermentum tortor pellentesque vitae. Donec eu orci id risus feugiat imperdiet eu at lacus. Aenean at felis congue, cursus lectus ut, pellentesque mauris. Maecenas mollis arcu ut arcu efficitur posuere. Integer turpis lorem, iaculis ac quam ut, convallis ultrices urna. Proin nec lectus eget lectus rhoncus semper. Suspendisse gravida massa turpis, vel rhoncus quam dignissim vitae. Etiam dignissim arcu non nisi pulvinar, in ultrices turpis pretium. Donec et suscipit lectus.</p>
            <details open="">
                <summary>Some details</summary>
                <p>More info about the details.</p>
            </details>
            <details>
                <summary>Even more details</summary>
                <p>Here are even more details about the details.</p>
            </details>
            <figure class="max-w-64">
                <img src="@img/illustration.png" alt="Illustration">
                <figcaption>A caption for the above image.</figcaption>
            </figure>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus explicabo soluta voluptates voluptas obcaecati. Adipisci accusantium suscipit, impedit magnam cum ipsa sequi dolores rerum excepturi molestiae eligendi tempore! Aspernatur, ducimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Quod, cumque! Quisquam, voluptatibus! Quod, cumque! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- <audio controls>
                <source src="@media/audio.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Quod, cumque! Quisquam, voluptatibus! Quod, cumque! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- <video controls>
                <source src="@media/video.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Quod, cumque! Quisquam, voluptatibus! Quod, cumque! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6qL9KbTXtns?si=7vVx7S1s27f-RwjX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus! Quod, cumque! Quisquam, voluptatibus! Quod, cumque! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>

<%- include('../partials/footer') %>