<%- include('../partials/header', {title: 'Contact'}) %>

    <div class="contact-page my-10">
        <div class="wrap">
            <h1>Contact Us</h1>
            <p>If you have any questions, feel free to reach out!</p>
            <p>We would love to hear from you.</p>
        </div>
    </div>

<%- include('../partials/footer') %>
