<%- include('../partials/header', {title: 'Home'}) %>

    <div class="home-page my-10">
        <div class="wrap">
            <h1 class="text-3xl">Home</h1>
            <p class="text-lg">Welcome to the home page!</p>
            <p class="text-lg">This is a simple example of a home page using EJS.</p>
        </div>
    </div>

<%- include('../partials/footer') %>
