<%- include('../partials/header', {title: 'Home'}) %>

    <div class="home-page my-10">
        <div class="wrap">
            
            <h2>Buttons</h2>
            <p>
                <button href="#" class="btn" disabled>Discover more details</button>
            </p>
            <p>
                <button href="#" class="btn btn-white" disabled>Start a Project</button>
            </p>
            <p>
                <button href="#" class="btn btn-outline" disabled>Learn more</button>
            </p>

            <h2 class="mt-10">Alerts</h2>
            <p class="alert">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi obcaecati quisquam sit laboriosam, provident fuga? Cupiditate ipsum ipsam eveniet, nam a vel delectus magnam assumenda enim? Officia, eum quisquam?
            </p>
            <p class="alert alert-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi obcaecati quisquam sit laboriosam, provident fuga? Cupiditate ipsum ipsam eveniet, nam a vel delectus magnam assumenda enim? Officia, eum quisquam?
            </p>
            <p class="alert alert-success">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi obcaecati quisquam sit laboriosam, provident fuga? Cupiditate ipsum ipsam eveniet, nam a vel delectus magnam assumenda enim? Officia, eum quisquam?
            </p>
            <p class="alert alert-warning">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi obcaecati quisquam sit laboriosam, provident fuga? Cupiditate ipsum ipsam eveniet, nam a vel delectus magnam assumenda enim? Officia, eum quisquam?
            </p>
            <p class="alert alert-error">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi obcaecati quisquam sit laboriosam, provident fuga? Cupiditate ipsum ipsam eveniet, nam a vel delectus magnam assumenda enim? Officia, eum quisquam?
            </p>

            <h2 class="mt-10">Colors</h2>
            <div class="flex flex-wrap gap-5 mb-5">
                <div class="w-24 h-25 bg-primary-darker"></div>
                <div class="w-24 h-25 bg-primary-dark"></div>
                <div class="w-24 h-25 bg-primary"></div>
                <div class="w-24 h-25 bg-primary-light"></div>
                <div class="w-24 h-25 bg-primary-lighter"></div>
            </div>

        </div>
    </div>

<%- include('../partials/footer') %>
