<%- include('../partials/header', {title: 'Test'}) %>

    <div class="home-page py-10">
        <div class="container">
            <h1>Welcome to Our Website <small>Brother</small></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce <strong>non congue sem</strong>. Ut lectus odio, interdum ac egestas sit amet, <i>gravida eu ante</i>. Nullam facilisis nec felis <b>vehicula luctus</b>. Integer eget nisi diam. Cras <mark>tincidunt imperdiet</mark> finibus. Suspendisse ac consectetur arcu. Mauris venenatis metus risus. Vestibulum efficitur <code>&lt;section&gt;</code> pharetra maximus. <a href="#">eget tellus eu mauris ultrices imperdiet</a>.</p>
            <p>Aliquam convallis tortor sit amet nisl cursus<sub>2</sub>., eget volutpat est tempus<sup>2</sup>. Ut rutrum magna eget gravida hendrerit. Sed quis pretium est. Ut nec nisi sem. Aliquam eleifend finibus nulla eu finibus. Etiam at elit iaculis ligula scelerisque iaculis quis ut neque. Nullam interdum dui libero, id pretium nunc dapibus in. Donec tempor elit at nisi tempus aliquam. Nulla vitae sodales tortor. Sed porttitor metus in quam maximus, sit amet euismod eros interdum. Quisque elementum placerat dui in sollicitudin. Morbi viverra fermentum turpis vitae ultrices. Aliquam eget pretium ante, in sagittis purus. Nunc in dictum ante, quis tincidunt massa. Donec erat purus, maximus vitae convallis eu, tincidunt at nisl. Suspendisse tempus augue a nulla blandit, at sagittis velit feugiat.</p>
            <p>Sed sit amet lorem est. Nullam aliquet sollicitudin tortor maximus sagittis. Sed a mauris et lorem feugiat luctus. Nulla efficitur bibendum congue. Quisque eget finibus quam. Donec rhoncus consectetur aliquet. Pellentesque vel sapien vel metus placerat iaculis a eu ligula. Nam tempus consectetur eros ut lacinia. Nulla molestie sem sit amet risus porta, et tempus diam lacinia. Duis tincidunt mauris ac nunc dapibus pharetra. Fusce ultricies, sapien vel porttitor consectetur, nibh ex egestas est, et ultrices est augue vitae felis.</p>
            <h2><a href="#">Welcome to Our Website</a></h2>
            <p>Curabitur pellentesque facilisis scelerisque. Donec placerat molestie lorem, ac gravida eros ullamcorper non. Phasellus rutrum aliquet nisi et volutpat. Aenean viverra elit tortor, non efficitur nisl suscipit non. Etiam est ipsum, porta vitae fringilla non, laoreet eget lectus. In a rutrum ligula. Nulla malesuada tincidunt pellentesque. Vivamus lobortis volutpat sapien, vel bibendum metus fringilla at. Cras ut nunc placerat, lobortis sapien in, lobortis mauris. Mauris dapibus sagittis ipsum, at gravida mi tempor non. Morbi porta mauris enim. Curabitur molestie augue magna, eu eleifend eros imperdiet eget. Praesent convallis viverra congue. Vivamus vel neque dui. Sed sollicitudin sagittis mi id fringilla. Nam id nunc non sem dignissim gravida convallis quis massa.</p>
            <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
            &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
            <p><var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>
            <p>To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
            To edit settings, press <kbd><kbd>Ctrl</kbd> + <kbd>,</kbd></kbd></p>
            <p><samp>This text is meant to be treated as sample output from a computer program.</samp></p>
            <h3>Welcome to Our Website</h3>
            <p>Praesent lorem ante, mattis vitae dapibus non, vehicula et arcu. Pellentesque et massa laoreet, consectetur nisl sed, ornare elit. Vivamus gravida tortor a neque eleifend pharetra. Nunc blandit velit tortor, sed semper nunc tempor fermentum. Cras lobortis faucibus vehicula. Maecenas vestibulum, mauris eget facilisis eleifend, neque nunc mattis purus, eget sagittis neque tortor quis nisi. Sed quam diam, ultrices quis consequat eu, laoreet nec leo. Duis quis imperdiet velit. Vivamus in diam tempus lorem volutpat commodo.</p>
            <h4>Welcome to Our Website</h4>
            <p>Aliquam erat volutpat. Donec nec ligula id enim efficitur facilisis. Donec ac nunc ut augue tincidunt fringilla. In hac habitasse platea dictumst. Sed euismod, nunc a convallis facilisis, nisi ligula efficitur enim, nec varius ligula felis non est. Cras in nunc et odio finibus bibendum. Curabitur sed dui id ligula efficitur fringilla. Donec ac nunc ut augue tincidunt fringilla. In hac habitasse platea dictumst. Sed euismod, nunc a convallis facilisis, nisi ligula efficitur enim, nec varius ligula felis non est.</p>
            <h5>Welcome to Our Website</h5>
            <p>Aliquam erat volutpat. Donec nec ligula id enim efficitur facilisis. Donec ac nunc ut augue tincidunt fringilla. In hac habitasse platea dictumst. Sed euismod, nunc a convallis facilisis, nisi ligula efficitur enim, nec varius ligula felis non est. Cras in nunc et odio finibus bibendum. Curabitur sed dui id ligula efficitur fringilla. Donec ac nunc ut augue tincidunt fringilla. In hac habitasse platea dictumst. Sed euismod, nunc a convallis facilisis, nisi ligula efficitur enim, nec varius ligula felis non est.</p>
            <h6>Welcome to Our Website</h6>
            <p>Sed vehicula id purus a pellentesque. Fusce gravida erat tortor, sed lacinia tortor eleifend vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam egestas sem nunc, quis mollis sapien pulvinar a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus tristique volutpat. Nullam tincidunt odio ut elit tincidunt tincidunt eget vel mauris. Morbi placerat sapien nec magna ultrices, et pellentesque tellus rhoncus. Phasellus interdum, lacus quis gravida laoreet, purus nisi accumsan lorem, maximus suscipit neque felis ut tortor. Sed feugiat vulputate est, a cursus arcu tincidunt vitae.</p>
            <p>Donec ut interdum elit. Maecenas orci massa, condimentum consectetur accumsan in, aliquet sed nisl. Donec eu neque vel metus volutpat fermentum. Cras rutrum nulla a sem congue, varius vehicula lacus lacinia. Aenean turpis augue, pretium sagittis tortor eu, mollis tempor augue. Sed dictum ante at volutpat scelerisque. Curabitur iaculis auctor sem, id porttitor nunc sagittis porta. Nullam tempor ut quam ac pretium. Nunc id risus metus. Maecenas bibendum, mauris non imperdiet facilisis, ante sapien placerat libero, a tristique ex sem vel nisi. Suspendisse mollis malesuada mauris, eget elementum turpis. Duis imperdiet sem et justo mattis, ut elementum odio consectetur. Proin sem nisi, semper sed pharetra vel, malesuada et ipsum. Nunc dapibus nunc non iaculis tincidunt.</p>
            <hr>
            <p>Sed vehicula id purus a pellentesque. Fusce gravida erat tortor, sed lacinia tortor eleifend vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam egestas sem nunc, quis mollis sapien pulvinar a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus tristique volutpat. Nullam tincidunt odio ut elit tincidunt tincidunt eget vel mauris. Morbi placerat sapien nec magna ultrices, et pellentesque tellus rhoncus. Phasellus interdum, lacus quis gravida laoreet, purus nisi accumsan lorem, maximus suscipit neque felis ut tortor. Sed feugiat vulputate est, a cursus arcu tincidunt vitae.</p>
            <ul>
                <li>Duis pulvinar, ante nec volutpat tempus, nunc urna ornare nulla, sed pretium ligula massa vitae turpis.</li>
                <li>Phasellus maximus arcu urna, eget efficitur nisl tempor eu.</li>
                    <ol>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Voluptate nulla vel quam voluptatibus mollitia accusamus quisquam illum, sed nostrum!</li>
                        <li>Sequi at mollitia aliquam consequuntur iure in tempore dolore exercitationem natus.</li>
                    </ol>
                <li>Quisque fermentum magna quis nisi euismod ultricies non a ex.</li>
                <li>Curabitur vitae pellentesque urna, in eleifend lacus.</li>
                <li>Aliquam faucibus a ex sed condimentum. Sed faucibus pharetra cursus.</li>
                <li>Nullam scelerisque rhoncus lacus. Aliquam facilisis pulvinar libero vel gravida.</li>
            </ul>
            <p>Sed vehicula id purus a pellentesque. Fusce gravida erat tortor, sed lacinia tortor eleifend vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam egestas sem nunc, quis mollis sapien pulvinar a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus tristique volutpat. Nullam tincidunt odio ut elit tincidunt tincidunt eget vel mauris. Morbi placerat sapien nec magna ultrices, et pellentesque tellus rhoncus. Phasellus interdum, lacus quis gravida laoreet, purus nisi accumsan lorem, maximus suscipit neque felis ut tortor. Sed feugiat vulputate est, a cursus arcu tincidunt vitae.</p>
            <dl>
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Term</dt>
                <dd>Definition for the term.</dd>
                <dt>Another term</dt>
                <dd>Definition for this other term.</dd>
            </dl>
            <div class="bd-example">
                <details open="">
                    <summary>Some details</summary>
                    <p>More info about the details.</p>
                </details>
                <details open="">
                    <summary>Even more details</summary>
                    <p>Here are even more details about the details.</p>
                </details>
            </div>
            <address>
                <strong>ACME Corporation</strong><br>
                1123 Fictional St,<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <blockquote>
                <p>A well-known quote, contained in a blockquote element.</p>
                <small>-Baka Yoko</small>
            </blockquote>
            <p>The <abbr title="HyperText Markup Language">HTML</abbr> abbreviation element.</p>
            <p>Sed vehicula id purus a pellentesque. Fusce gravida erat tortor, sed lacinia tortor eleifend vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam egestas sem nunc, quis mollis sapien pulvinar a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus tristique volutpat. Nullam tincidunt odio ut elit tincidunt tincidunt eget vel mauris. Morbi placerat sapien nec magna ultrices, et pellentesque tellus rhoncus. Phasellus interdum, lacus quis gravida laoreet, purus nisi accumsan lorem, maximus suscipit neque felis ut tortor. Sed feugiat vulputate est, a cursus arcu tincidunt vitae.</p>
            <p><a href="#">Discover more about us</a></p>
            <!-- <img src="@img/security.svg" alt="Security" class="block w-80 h-auto"> -->

            <h2>Forms</h2>
            <form>
                <fieldset>
                    <legend>Example legend</legend>
                    <p>
                        <label for="input">Example input</label>
                        <input type="text" id="input" placeholder="Example input">
                    </p>
                    <p>
                        <label for="email">Example email</label>
                        <input type="email" id="email" placeholder="test@example.com">
                    </p>
                    <p>
                        <label for="tel">Example telephone</label>
                        <input type="tel" id="tel">
                    </p>
                    <p>
                        <label for="url">Example url</label>
                        <input type="url" id="url">
                    </p>
                    <p>
                        <label for="number">Example number</label>
                        <input type="number" id="number">
                    </p>
                    <p>
                        <label for="search">Example search</label>
                        <input type="search" id="search">
                    </p>
                    <p>
                        <label for="range">Example range</label>
                        <input type="range" id="range" min="0" max="10">
                    </p>
                    <p>
                        <label for="file">Example file input</label>
                        <input type="file" id="file">
                    </p>
                    <p>
                        <label for="select">Example select</label>
                        <select id="select">
                        <option value="">Choose...</option>
                        <optgroup label="Option group 1">
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                        </optgroup>
                        <optgroup label="Option group 2">
                            <option value="">Option 4</option>
                            <option value="">Option 5</option>
                            <option value="">Option 6</option>
                        </optgroup>
                        </select>
                    </p>
                    <p>
                        <label>
                        <input type="checkbox" value="">
                        Check this checkbox
                        </label>
                    </p>
                    <p>
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Option one is this and that
                        </label>
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two is something else that’s also super long to demonstrate the wrapping of these fancy form controls.
                        </label>
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                        Option three is disabled
                        </label>
                    </p>
                    <p>
                        <label for="textarea">Example textarea</label>
                        <textarea id="textarea" rows="3"></textarea>
                    </p>
                    <p>
                        <label for="date">Example date</label>
                        <input type="date" id="date">
                    </p>
                    <p>
                        <label for="time">Example time</label>
                        <input type="time" id="time">
                    </p>
                    <p>
                        <label for="password">Example password</label>
                        <input type="password" id="password">
                    </p>
                    <p>
                        <label for="datetime-local">Example datetime-local</label>
                        <input type="datetime-local" id="datetime-local">
                    </p>
                    <p>
                        <label for="week">Example week</label>
                        <input type="week" id="week">
                    </p>
                    <p>
                        <label for="month">Example month</label>
                        <input type="month" id="month">
                    </p>
                    <p>
                        <label for="color">Example color</label>
                        <input type="color" id="color">
                    </p>
                    <p>
                        <label for="output">Example output</label>
                        <output name="result" id="output">100</output>
                    </p>
                    <p>
                        <button type="submit">Button submit</button>
                        <input type="submit" value="Input submit button">
                        <input type="reset" value="Input reset button">
                        <input type="button" value="Input button">
                    </p>
                    <p>
                        <button type="submit" disabled="">Button submit</button>
                        <input type="submit" value="Input submit button" disabled="">
                        <input type="reset" value="Input reset button" disabled="">
                        <input type="button" value="Input button" disabled="">
                    </p>
                </fieldset>
            </form>

            <h2>Tables</h2>
            <table>
                <caption>This is an example table, and this is its caption to describe the contents.</caption>
                <thead>
                    <tr>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

<%- include('../partials/footer') %>