<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= (title ? `${title.trim()} - Arwindo` : 'Arwindo') %></title>
    <link rel="shortcut icon" href="@img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@css/main.css" />
</head>
<body>
    <div class="site-wrapper flex flex-col min-h-screen">
        <header class="site-header">
            <%- include('./header/header-topbar'); %>
            <%- include('./header/header-navbar'); %>
        </header>
        <main class="site-main flex-grow">
            